<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  
  <%= select_tag "fishname", options_for_select(@fishname), { class: 'fishname' } %> 
    <div id="fishinfo"></div>

  


</body>
</html>











