<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <%= select_tag "fishname", options_for_select(@fishname), { class: 'fishname' } %> 
   
 <div id="fishinfo">
  <h3>Sustainabilty Level</h3>
  <h3>Omega 3 Level</h3>
  <h3>Mercury Level</h3>
</div>

<div id="fishimage">
  <%=  %>
</div>



</body>
</html>











